<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header class="header">
    <p class="signed-in-text">Not Signed in.</p>
    <div class="center">
        <p class="brand-text"> Niner</p>
        <img src="/images/swap-logo.png" alt="Logo" width="50" class="logo"><br><span>Book Swap</span>

    </div>

</header>
</body>
</html>