<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/mybooks-style.css'/>
</head>
<body>
<div class="wrapper">


    <div class="header-wrapper">
        <% include ./partials/header.ejs %>
    </div>
    <div class="user-nav-wrapper">
        <% include ./partials/user-navigation.ejs %>
    </div>
    <div class="nav-side-wrapper">
        <% include ./partials/site-navigation.ejs %>
    </div>
    <div class="main-cont-wrapper">
        <div class="main-content">
            <% include ./partials/breadcrum.ejs %>

            <h2>Charlotte's Swap Offers</h2>
            <div class="item-content">
                <table class="mybooks-table">
                    <thead>
                    <tr>
                        <th>Book</th>
                        <th>Swap Offer</th>
                        <th colspan="2"></th>
                    </tr>
                    <!--<tr>-->
                    <!--<hr>-->
                    <!--</tr>-->
                    </thead>

                    <tbody>
                    <tr>
                        <td><a href="#">Lord of the Flies</a></td>
                        <td><a href="#">The Hobbit</a></td>
                        <td><button class="site-button">Update</button>     &nbsp;<button class="site-button">Delete</button></td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <td><a href="#">Norse Mythology</a></td>
                        <td><a href="#">Brave New Worlds</a></td>
                        <td><button class="site-button">Withdraw Swap</button></td>
                        <!--<td></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div >

            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <% include ./partials/footer.ejs %>
    </div>
</div>
</body>
</html>