.item-heading-table{
    border-spacing: 5px;
}
.item-photo{
    height: 150px;
}

.item-info{
    display: block;
    margin-top: -16px;
    margin-bottom: 15px;
}
.item-content{
    max-width: 80%;
    align-content: center;
    text-align: justify;
    position: absolute;
    margin-right: 5%;
}
.p1{
    font-weight: bold;
}
.swap-heading{
    margin-bottom: 0px;
}
.book-name{
    vertical-align: top;
}
.book-name > h2{
    margin-top: 0px;
}
.book-name > table{
    width: 40%;
    text-align: justify;
    margin-left: 5vw;
}
.swap-section{
    max-width: 100%;
    /* align-content: center; */
    text-align: center;
}
.swaps-table{
    width: 50%;
    border-collapse: collapse;
    text-align: justify;
    /* margin-left: auto; */
    border: 2px groove black;
    border-spacing: 40px !important;
    margin:auto;

}
.swaps-table > tbody > tr > td {
    border-bottom-color: black;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    padding:10px;

}
.confirm-btn-div{
    /* float: left; */
    max-width: 20%;
    /* margin: auto; */
    float: right;
    /* top: 19px !important; */
    margin-right: 200px;
    margin-top: 20px;
}

.return-category{
    display: inline-block;
    float: right;
    /* top: 0px; */
    margin-right: 20px;
    font-family: verdana;
    font-size: 16px;
    color: blue;
    background-color: #eeeeee;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.return-category:hover{
    /*text-decoration: underline;*/
    color: red;
}